{% extends "::admin.html.twig" %}


{% block headTitle %}Lesson Creation{% endblock %}

{% block bodyTitle %}<h1>Lesson creation</h1>{% endblock %}

{% block content %}
<form action="{{ path('lesson_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('lesson') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}