{% if userLessonPlans %}
    {% for userLessonPlan in userLessonPlans %}
        <table class="table table-bordered table-hover table-striped">
            <caption>{{ userLessonPlan.lessonPlan.name|upper }}</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                 {% render url('user_list_lesson_plan_lessons', {'userId': user.id, 'lessonPlanId':userLessonPlan.lessonPlan.id}) %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <div class="well well-small">No Lesson Plans. <a href="{{ path('lessonplan_new') }}">Create a new Lesson Plan</a></div>
{% endif %}