{% extends "::admin.html.twig" %}

{% block title %}User Password Edit{% endblock %}

{% block content %}
<h1>Change Password</h1>
<p>When you create a new password, make sure that it's at least 6 characters long. Try to use a complex combination of numbers, letters, and punctuation marks. To improve your password strength, try mixing together uppercase and lowercase letters or making the password longer.</p>
<p>The password you create should be easy for you to remember but hard for someone else to figure out. For extra security, this password should be different than other passwords that you use to log in to other places, like your email or bank account.</p>
<form action="{{ path('user_update_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {% if form.get('errors') is not empty %}
    <div class="alert alert-error alert-block">{{ form_errors(form) }}</div>
    {% endif %}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </p>
</form>

{% endblock %}