{% extends "::admin.html.twig" %}

{% block title %}User Password Edit{% endblock %}

{% block content %}
<h1>User password edit</h1>

<form action="{{ path('user_update_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Change Password</button>
    </p>
</form>

<ul class="record_actions">
    <li><a href="{{ path('user_show', { 'id': entity.id }) }}">Back to the user</a></li>
</ul>
{% endblock %}