{% extends "::admin.html.twig" %}

{% block headTitle %}User Password Edit{% endblock %}

{% block bodyTitle %}Change Password{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">A password should be easy to remember but hard to guess.</p>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        <form action="{{ path('user_update_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
            {% if form.get('errors') is not empty %}
            <div class="alert alert-error alert-block">{{ form_errors(form) }}</div>
            {% endif %}
            {{ form_rest(form) }}
            <p>
                <button class="btn btn-primary" type="submit"><i class="icon-lock icon-white"></i> Change Password</button>
            </p>
        </form>
    </div>
    <div class="span5">
        <section>
            <header><h2>Passwords</h2></header>
            <div class="well">
                <p>When you create a new password, make sure that it's at least 6 characters long.</p>
                <p>Try to use a complex combination of numbers, letters, and punctuation marks. To improve your password strength, try mixing together uppercase and lowercase letters or making the password longer.</p>
                <p>For extra security, this password should be different than other passwords that you use to log in to other places, like your email or bank account.</p>
            </div>
        </section>
    </div>
</div>
{% endblock %}