{% extends "::admin.html.twig" %}

{% block headTitle %}Lesson Plans{% endblock %}

{% block bodyTitle %}<h1>Choose a LessonPlan</h1>{% endblock %}

{% block content %}
<form action="{{ path('lessonplan_choose_for_lesson') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Next</button>
    </p>
</form>

{% endblock %}
