{% extends "::admin.html.twig" %}

{% block headTitle %}Lesson Plan Creation{% endblock %}

{% block bodyTitle %}Create a new Lesson Plan{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">Add a new Lesson Plan for a custom request.</p>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        <p>After you create the Lesson Plan you can assign it to individual Users or to an entire Company.</p>
        <form action="{{ path('lessonplan_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button class="btn btn-primary" type="submit"><i class="icon-plus-sign icon-white"></i> Create</button>
            </p>
        </form>
        <p><a href="{{ path('lessonplan') }}"><i class="icon-backward"></i> Back to the list</a></p>
    </div>
    <div class="span5">
        <section>
            <header><h2>Create or Reuse?</h2></header>
            <div class="well">
                <p>You should create a new Lesson Plan when its for a Company. This allows you to customize the Lesson Plan for that Companys needs. It also allows us to change the Lesson Plan over the course of the Companys lifetime.</p>
            </div>
        </section>
    </div>
</div>
{% endblock %}