<section>
    <header>
        <h2>Save A Lot Training Courses</h2>
        <p>Download the Save A Lot Training Courses</p>
    </header>
    <div class="well well-small">
        <table class="table table-condensed table-no-border">
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/apples.pdf">Apples</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/avocados.pdf">Avocados</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/blackberries-and-raspberries.pdf">Blackberries and Raspberries</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/blueberries.pdf">Blueberries</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/broccoli.pdf">Broccoli</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/cabbage.pdf">Cabbage</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/cantaloupes.pdf">Cantaloupes</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/carrots.pdf">Carrots</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/cauliflower.pdf">Cauliflower</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/celery.pdf">Celery</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/cherries.pdf">Cherries</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/citrus.pdf">Citrus</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/cucumbers.pdf">Cucumbers</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/garlic.pdf">Garlic</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/eggplant.pdf">Eggplant</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/table-grapes.pdf">Table Grapes</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/honeydews.pdf">Honeydews</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/greens.pdf">Greens</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/green-onions.pdf">Green Onions</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/onions.pdf">Onions</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/mushrooms.pdf">Mushrooms</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/pears.pdf">Pears</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/peaches-nectarines.pdf">Peaches and Nectarines</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/potatoes.pdf">Potatoes</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/plums.pdf">Plums</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/strawberries.pdf">Strawberries</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/radishes.pdf">Radishes</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/sweet-potatoes.pdf">Sweet Potatoes</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/sweet-corn.pdf">Sweet Corn</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/watermelons.pdf">Watermelons</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/summer-squash.pdf">Summer Squash</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-lessons/misc.pdf">Miscellaneous Products</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/winter-squash.pdf">Winter Squash</a></td>                
                <td><a href="/uploads/save-a-lot-regional-training-final-assessment-2014/quiz.html" target="_blank">2014 Regional Training Final Assessment</a></td>
            </tr>
            <tr>
                <td><a href="/uploads/save-a-lot-regional-training-lessons/food-safety.pdf">Food Safety</a></td>
                <td><a href="/uploads/save-a-lot-regional-training-final-assessment-2015/quiz.html" target="_blank">2015 Regional Training Final Assessment</a></td>
            </tr>
        </table>
    </div>
</section>
