<section>
    <header>
        <h2>Save A Lot Training Courses</h2>
        <p>Download the Save A Lot Training Courses</p>
    </header>
    <div class="well well-small">
        <nav>
            <ul class="nav nav-list">
                <li><a href="/uploads/save-a-lot-regional-training-final-assessment-2014/quiz.html" target="_blank">2014 Regional Training Final Assessment</a></li>
            </ul>
        </nav>
    </div>
</section>