<section>
    <header>
        <h2>Save A Lot Training Courses</h2>
        <p>Download the Save A Lot Training Courses</p>
    </header>
    <div class="well well-small">
        <nav>
            <ul class="nav nav-list">
                <li><a href="#">Training Course A</a></li>
                <li><a href="#">Training Course B</a></li>
                <li><a href="#">Training Course C</a></li>
            </ul>
        </nav>
    </div>
</section>