<section>
    <header>
        <h2>Save A Lot Resources</h2>
        <p>Download the Save A Lot Resources</p>
    </header>
    <div class="well well-small">
        <nav>
            <ul class="nav nav-list">
                <li><a href="http://postharvest.ucdavis.edu/" target="_blank">UC Davis Postharvest Technology Center</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/TomatoColorChart.pdf" target="_blank">Tomato Color Chart</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/79043BananaChart17x11SALrev2015.pdf" target="_blank">Banana Chart rev2015</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/BananaReporting.xlsx" target="_blank">Banana Reporting</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/WatermelonProtocol.docx" target="_blank">Watermelon Protocol</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/VendorManagedInventoryProcedure.pdf" target="_blank">Vendor Managed Inventory Procedure</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/SamplingRates.pdf" target="_blank">Sampling Rates</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/WeekendSubPolicy.docx" target="_blank">Weekend Sub Policy</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/ipt_commodity_reference_manual.htm" target="_blank">IPT Commodity Reference Manual</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/QRG2017.pdf" target="_blank">Save A Lot Quick Reference Guide</a></li>
            </ul>
        </nav>
    </div>
</section>
