<section>
    <header>
        <h2>Save A Lot Resources</h2>
        <p>Download the Save A Lot Resources</p>
    </header>
    <div class="well well-small">
        <nav>
            <ul class="nav nav-list">
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/BananaColorChart.jpg" target="_blank">Banana Color Chart</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/SamplingRates.docx" target="_blank">Sampling Rates</a></li>
                <li><a href="https://s3.amazonaws.com/training_ipt_us_com/ipt_commodity_reference_manual.htm" target="_blank">IPT Commodity Reference Manual</a></li>
            </ul>
        </nav>
    </div>
</section>