{% extends "::management.html.twig" %}

{% block title %}Management Dashboard{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>Welcome!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="{{ path('dashboard') }}" class="btn btn-primary btn-large">Get Started »</a></p>
    </div>
{% endblock %}
