{% extends "::user.html.twig" %}

{% block headTitle %}User Dashboard{% endblock %}

{% block bodyTitle %}
<div class="row-fluid">
    <div class="span12"><h1>Dashboard</h1></div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">Begin by playing a Lesson. Unlock other Lessons by succesffully passing the Lesson exams.</p>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        <section>
            <header><h2>Save A Lot Lessons</h2></header>
            {% render url('user_list_lesson_plans', {'userId': user.id}) %}
        </section>
     </div>
    <div class="span5">
        {# include 'YawmanTrainingBundle:Dashboard:_save-a-lot-training-courses-sidebar.html.twig' #}
        
        {% include 'YawmanTrainingBundle:Dashboard:_save-a-lot-resources-sidebar.html.twig' %}
    </div>
</div>
{% endblock %}

