{% extends "::user.html.twig" %}

{% block headTitle %}User Dashboard{% endblock %}

{% block bodyTitle %}
<div class="row-fluid">
    <div class="span12"><h1>Dashboard</h1></div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span7">
        <section>
            <header><h2>Lessons</h2></header>
            {% render url('user_list_lesson_plans', {'userId': user.id}) %}
        </section>
     </div>
</div>
{% endblock %}

