{% set layout = "::user.html.twig" %}
{% if is_granted('ROLE_ADMIN') %}
    {% set layout = "::admin.html.twig" %}
{% elseif is_granted('ROLE_MANAGER') %}
    {% set layout = "::management.html.twig" %}
{% endif %}
{% extends layout %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>

{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        {{ app.session.flash('success') }}
    </div>
{% endif %}

<form action="{{ path('yawman_training_update_change_password') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </p>
</form>
{% endblock %}
