<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{DOCUMENT_ROOT}/uploads%{REQUEST_URI} -f
    RewriteRule ^(.*)$ /uploads%{REQUEST_URI} [PT,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
